form {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-family: serif;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;

}

header {
  font-size: 35px;
  font-variant: small-caps;
}
