body {
  background-image: linear-gradient(to bottom right, white, grey);
}

form {
  font-size: 20px;
  font: 1em/1.25em Arial, Helvetica, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

label {
font: 1em/1.25em Arial, Helvetica, sans-serif;
  display: flow-root;
  float: left;
  clear: left;
  width: 250px;
  text-align: left;
}
input  {
  display: inline-block;
  float: left;
  font: 1em/1.25em Arial, Helvetica, sans-serif;
}

fieldset {
  margin: 115px;
  border: 5px solid black;
  padding: 4px;
  border-radius: 2px;
  background-image: linear-gradient(to bottom right, white, grey);
}

legend {
  padding: 2px;
  font: 1em/1.25em Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 30px black;
  font-variant: small-caps;
}

.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;

}

.fieldset-auto-width {
  display: inline-block;
}

li {
  font-variant: small-caps;
  font: 1em/1.25em Arial, Helvetica, sans-serif;
  border-color: black;
  text-shadow: 2px 2px 32px black;
  font-variant: small-caps;
  list-style: none;
}

.navigationbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

.navigationbar li {
  float: left;
  border-right: 1px solid white;
}

.navigationbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigationbar li a:hover:not(.active){
  background-color: darkgrey;
}

.active {
  background-color: grey;
}
